{% extends "base.html" %}
{% block content %}
<div class="container">
	<div><h4><b>Для добавления маршрута заполните все поля:</b></h4></div>
	<form action="{{ url_for('add_route') }}" enctype="multipart/form-data" method="Post">
		<div class="form-group">
			<label for="">Название маршрута:</label>
			<input type="text" name="name" class="form-control" style="width: 30%">
		</div>
		<div class="form-group">
			<label for="">Длина маршрута в км:</label>
			<input type="text" name="length" class="form-control" style="width: 15%">
		</div>
		<div class="form-group">
			<label for="">Длина маршрута в днях:</label>
			<input type="text" name="day" class="form-control"style="width: 15%">
		</div>
		<div class="form-group">
			<label for="">Сложность маршрута:</label>
				<select name="level" class="form-control" style="width: 30%">
					<option>низкая</option>
					<option>средняя</option>
					<option>выше среднего</option>
					<option>высокая (необходима спец. подготовка)</option>
				</select>
		</div>
		<div class="form-group">
			<label>Описание маршрута:</label>
			<textarea name="text" class="form-control" rows="3" placeholder="Описание маршрута" style="width:100%;  height:225px"></textarea>
		</div>

		<div class="form-group">
			<label for="">Ключевые точки маршрута:</label>
			<textarea name="route" class="form-control" rows="3" placeholder="Ключевые точки маршрута" style="width:100%;  height:75px"></textarea>
		</div>
		<div>
			<label>Загрузить фото маршрута:</label>
			<input type="file" name="img" multiple accept="image/*">
		</div>
		<br>
		<button type="submit" class="btn btn-default">Опубликовать</button>
	</form>
	<br>
</div>
{% endblock %}